html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: Tahoma;
	font-size: 11px;
	color: #2B3724;
	line-height: 13px;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-color: #EFF2F7;
}
h1 {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
}
#container {
	margin: 50px auto;
	width: 550px;
}
#m_container {
	margin: 20px auto;
	width: 300px;
}
#image {
	float: left;
	display: inline;
	width: 300px;
	height: 400px;
}
#image1 {
	float: left;
	display: inline;
	width: 200px;
	margin-top: 30px;
}
#m_image1 {
	float: left;
	display: inline;
	width: 90px;
	margin-top: 10px;
}
#text {
	float: left;
	display: inline;
	width: 350px;
	vertical-align: middle;
	height: 100%;
}
#404text {
	float: left;
	display: inline;
	width: 550px;
	vertical-align: middle;
	height: 100%;
}
#m_text {
	float: left;
	display: inline;
	width: 200px;
	vertical-align: middle;
	height: 100%;
}
#en {
	margin: 10px;
}
#m_en {
	margin: 10px;
}
#de {
	margin: 10px;
}
#m_de {
	margin: 10px;
}
#tr {
	margin: 10px;
}
#m_tr {
	margin: 10px;
}
#footer {
	text-align: center;
	font-size: 10px;
	clear: left;
	margin: 10px;
}
